.navbar
{
  height: 45px;
  padding: 0;
  margin: 0;
  flex-direction: row-reverse;
}
.right-bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke;
    height: 45px;

  }

  .right-bar li {
    float: right;
    margin: 0;
    cursor: pointer;
  }

  .right-bar li.active {
    background-color: tomato;
  }

  .right-bar li.active a {
    color: #fff ;
  }

  .right-bar li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer; 
    font-size: 20px;
    font-weight: 900;
    
  }
  .right-bar li:not(.active):hover
  {
    background-color: tomato;
  }

  .right-bar li:not(.active):hover a
  {
    color: #fff;
  }

  .right-bar li a:hover:not(.active) {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .active {
    background-color: transparent;
   
  }
  .active:hover
  {
    background-color: tomato;
    
  }
  .lef-bar
  {
      width: 90px;
      padding-left: 120px;
      cursor: pointer;
      padding-top: 5px;
      float: left;
  }
  .lef-bar img
  {
      width: 100%;
  }
  .menu-bar
  {
    display: none;
    color: black;
    font-size: 20px;
    position: absolute;
    top: 20px;
    right: 40px;
    cursor: pointer;
  }
  .side-bar{
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      display: none;
      transition: all 2s;
      transition-timing-function: ease;
      z-index: 2;
    }

    
    .side-bar li {
      
      margin: 0;
    }
    
    .side-bar li a {
      display: block;
      color: #000;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      cursor: pointer;
      font-size: 20px;
      font-weight: 900;
    }
    .side-bar li:hover
    {
      background-color: tomato;
    }
  @media (max-width: 500px)

  {

    .menu-bar
    {
      display: block; 
    }
    .right-bar li
    {
      display: none;
    }
    .lef-bar
    {
      padding-left: 20px;
    }
    

  }
  @media (max-width:1200px)
  {
    .side-bar{
      display: none;
    }
  }
  .arrow
  {
    font-size: 22px;
    color: #09c;
  }
  .avtive2
  {
    background-color: whitesmoke;
  }
  
