.rest-home
{
    width: 90%;
    margin: auto;
    margin-top: 50px;
}
.rest-img
{
     
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgba(255, 99, 71, 0.1);
}
.rest-img .logo
{
    width: 95px;
    height: 80px;
    border-radius: 50%;
}
.rest-img .rest
{
    width: 100px;
    height: 80px;
    border-radius: 50%;
}
.caption
{
    width: 40%;
}
.rest-home h3
{
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 margin: 0;
 margin-top: 20px;
 padding-bottom: 10px;
}
.rest-home p
{
    color: rgba(0, 0, 0, 0.7);
    margin: 10px;
  
}


.stars
{
    display: flex;
    flex-direction: row;
    padding-left: 10px;
     
     
    
}
.stars .gold
{
    color: gold;
    margin: 0;
}
.stars .light
{
    color:gray;
    margin: 0;
    opacity: .5;
}
.rest-nav
{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-around;

    padding: 10px;
    
}
.rest-nav button
{
    padding: 10px 15px;
    width:33.34% ;
    border: none;
    background-color: rgba(255, 99, 71, 0.1);
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    
}
.rest-nav .now
{
    background-color: rgba(255, 99, 71, 0.5);
}
.menu
{
    display: flex;
 flex-direction: row;
 width: 60%;
}
.meal-imgs
{
    width: 20%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    margin-top: 20px;
    
}
.meal-imgs img
{
    width: 30%;
    border-radius: 5px;
}

.rest-desc
{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-around;

    padding: 10px;
    
}
.rest-desc button

{
    padding: 10px 15px;
    width:33.34% ;
    border: none;
    background-color: rgba(255, 99, 71, 0.07);
    margin: 10px;
    border-radius: 20px;
    
}
.Offers
{
    width: 90%;
    margin: auto; 
    height: 423px;
    overflow: hidden;
    
}
.Offer
{
    width: 50%;
   
}
.Offers h3
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.Offer button
{
    padding: 50px;
}
.reviwe
{
  
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: row;
     
}
.card
{
width: 33.4%;  
 padding: 10px;
background-color: rgba(255, 99, 71, 0.1);
margin: 10px;
}
.card img
{
    width: 100%;
  
}
.card h3
{
    color: #000;
    font-size: 20px;
    margin: 0px;
    padding-bottom: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.card p
{
    color: rgba(0, 0, 0, 0.7);
    margin: 0px;
    padding-top: 10px;
}
.card .stars
{
    padding-left: 0px;
}
.FAV button
{
    font-size: 18px;
}
.FAV
{
    display: none;
     
}
.slider
{
     margin: 10px;
}

@media (max-width: 779px)
{
    .Offers
    {
        height: 870px;
    }
    .card h3
    {
        font-size: 16px;
    }
    
    .card p 
    {
        font-size: 14;
    }
}

@media (max-width: 450px)
{
    .Offers
    {
        height: 650px;
    }

   .caption{
        width: 70%;
         
       } 
    .caption p {
        padding-left: 0px;
    }
    .rest-nav
    {
        width: 90%;
    }
    .rest-nav button
    {
    padding: 5px 10px;
    font-size: 14px;
   
    }

  
    .meal-imgs
    {
        width: 95%;
    }
    .rest-desc{
    width: 95%;
    }
     
    .reviwe
    {
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .card 
    {
        width: 80%;
    }
    .card h3
    {
        font-size: 16px;
    }
    
    .card p 
    {
        font-size: 14;
    }
}

 