<section class="rest-home">
  <div class="rest-img">
    <img class="rest" src="assets\rest.jpg" alt="">
    <img class="logo" src="assets\logo.jpg" alt="">
  </div>

  <div class="caption">
    <h3>BATESTA RESTURANT</h3>
    <div class="stars">
      <i class="fa fa-star gold" aria-hidden="true"></i> <i class="fa fa-star gold" aria-hidden="true"></i>
      <i class="fa fa-star gold" aria-hidden="true"></i> <i class="fa fa-star gold" aria-hidden="true"></i>
      <i class="fa fa-star light" aria-hidden="true"></i>

    </div>
    <p>A restaurant is a business that prepares and serves food and drinks to customers.Meals are generally served and
      eaten on the premises</p>
  </div>



</section>
<section>

  <div class="rest-nav">

    <button (click)="toggeleMenu()" [ngStyle]="{'background-color': color1}" class="now">MENU</button>
    <button (click)="toggeleFav() " [ngStyle]="{'background-color': color2}">FAVORITE MEAL</button>
    <button (click)="toggeleReviwe()" [ngStyle]="{'background-color': color3}">REVIEWS</button>

  </div>
  <div [ngStyle]="{'display': toggele1}" class="menu">
    <div class="meal-imgs">
      <img class="logo" src="assets\images.jpg" alt="">
      <img class="rest" src="assets\download (1).jpg" alt="">
      <img class="rest" src="assets\images (2).jpg" alt="">

    </div>
    <div class="rest-desc">

      <button class="now">Ice Creem</button>
      <button>Salad</button>
      <button>Pasta</button>

    </div>
  </div>

  <div [ngStyle]="{'display': toggele2}" class="FAV">
    <div class="meal-imgs">
      <img class="logo" src="assets\meal1.jpg" alt="">
      <img class="rest" src="assets\meal2 (2).jpg" alt="">
      <img class="rest" src="assets\meal3.jpg" alt="">

    </div>
    <div class="rest-desc">

      <button class="now">Super Compo</button>
      <button>larg box</button>
      <button>Hotdog</button>

    </div>
  </div>

  <div [ngStyle]="{'display': toggele3}" class="reviwe">
    <div class="card">
      <img src="assets\one.jpg" alt="">
      <h3>Ahmed Mammdoh</h3>
      <div class="stars">
        <i class="fa fa-star gold" aria-hidden="true"></i> <i class="fa fa-star gold" aria-hidden="true"></i>
        <i class="fa fa-star gold" aria-hidden="true"></i> <i class="fa fa-star gold" aria-hidden="true"></i>
        <i class="fa fa-star light" aria-hidden="true"></i>

      </div>
      <p>Ice Creem is virev nice. I recommended it</p>

    </div>


    <div class="card">
      <img src="assets\two.png" alt="">
      <h3>Yasser Awad</h3>
      <div class="stars">
        <i class="fa fa-star gold" aria-hidden="true"></i> <i class="fa fa-star gold" aria-hidden="true"></i>
        <i class="fa fa-star gold" aria-hidden="true"></i> <i class="fa fa-star gold" aria-hidden="true"></i>
        <i class="fa fa-star light" aria-hidden="true"></i>

      </div>
      <p>Salad is very nice. I recommended it</p>

    </div>

    <div class="card">
      <img src="assets\three.jpg" alt="">
      <h3>Mammdoh Taha</h3>
      <div class="stars">
        <i class="fa fa-star gold" aria-hidden="true"></i> <i class="fa fa-star gold" aria-hidden="true"></i>
        <i class="fa fa-star gold" aria-hidden="true"></i> <i class="fa fa-star gold" aria-hidden="true"></i>
        <i class="fa fa-star light" aria-hidden="true"></i>

      </div>
      <p>Pasta is very nice. I recommended it</p>

    </div>
  </div>
















</section>
<section class="Offers">
  <div>
    <h3>OFERRS</h3>
  </div>
  <owl-carousel-o [options]="customOptions"class="slider" >
    
    <ng-template carouselSlide>
      <app-resturant class="offer"></app-resturant>
    </ng-template>
  </owl-carousel-o>
</section>
