
    <section class="container">
        
    
    
        <div class="resturants">
    
            <div *ngFor="let u of resurantArr" class="resturant">
              
          

                <div class="meal-cont">
                  <i class="fa fa-heart heart" aria-hidden="true"></i>
                <img src="/assets/download.jpg" alt="">
                </div>        <div class="resturant-cot">
                <a  href="rest-home" ><h2>jhafsf</h2></a>
                 
                <div class="stars">
                 <i class="fa fa-star gold" aria-hidden="true"></i> <i class="fa fa-star gold" aria-hidden="true"></i>
                 <i class="fa fa-star gold" aria-hidden="true"></i> <i class="fa fa-star light" aria-hidden="true"></i>
                 <i class="fa fa-star light" aria-hidden="true"></i> 
               
                </div>
                <p> bsdfsffs sfsv swkfjku jwqhikn jwkqndkwqj knkdwqnd knkd </p>
                <div class="cap">
                 
                  <h1>WEZO</h1>
                   <div class="img-contaner "routerLink="home">
                    <img src="/assets/rest.jpg" alt="">
                  </div>
               </div>
               <div class="price"><h3> <span>15</span> : السعر</h3></div>

               <button>Order Now <i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
            </div>
            </div>
        </div>
    
 
    </section>
  

    
