<div class="resturants"  >
<div class="resturant"   >
  <div class="meal-cont">
    <i class="fa fa-heart heart" aria-hidden="true"></i>
    <img [src]="restaurant?.logo" onerror="this.src='/assets/download.jpg'" alt="">
  </div>
  <div class="resturant-cot">
    <a>
      <h2>{{restaurant?.name}}</h2>
    </a>
    <div class="stars">
      <i class="fa fa-star gold" aria-hidden="true"></i> <i class="fa fa-star gold" aria-hidden="true"></i>
      <i class="fa fa-star gold" aria-hidden="true"></i> <i class="fa fa-star light" aria-hidden="true"></i>
      <i class="fa fa-star light" aria-hidden="true"></i>
    </div>
    <p [innerHTML]="restaurant?.description"> </p>
    <div class="cap">
      <h1>WEZO</h1>
      <div class="img-contaner " routerLink="home">
        <img [src]="restaurant?.image" onerror="this.src='/assets/rest.jpg'" alt="">
      </div>
    </div>
    <div class="price">
      <!-- <h3> <span>15</span> : السعر</h3> -->
    </div>
    <a [routerLink]="['/restaurant-details',restaurant?.id]" ><button >Order Now <i class="fa fa-shopping-cart" aria-hidden="true"></i></button></a>
  </div>
</div>
</div>