 
<section class="home">

    <div class="overlay"> 
    
    <div class="caption">
    <h1><span>O</span>rder food online in Egypt</h1>
    
    <form class="search" >
        <input type="text" placeholder="Search.." name="search">
        <button type="submit">Search</button>
      </form>
    
    </div>
    </div>
    
    </section>
    
    <div class="meals">
      <div class="meal"><app-resturant></app-resturant> </div>
      <div class="meal"><app-resturant></app-resturant> </div>
      <div class="meal"><app-resturant></app-resturant> </div>
    </div> 
    