.home
 {
     margin-top: 0px;
     height: 520px;
     background-image: url("/assets/slider-01.jpg");
     background-attachment: fixed;
     background-size: cover;
     background-repeat: no-repeat;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;

 } 
 .home h1 
 {
     color: #fff;
     font-size: 50px;
 }
 .home h1 span 
 {
     color: tomato;
     font-size: 60px;
 }
form
{
    display: flex;
    flex-direction: row;
    
   
}
 form.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid tomato;
    float: left;
    width: 80%;
    background: #f1f1f1;
    border-right:none ;
     
  }
  
  form.search button {
    float: left;
    width: 20%;
    padding: 10px;
    background: tomato;
    color: white;
    font-size: 17px;
    border: none;
    border-left: none;
    cursor: pointer;
  }
  
  form.search button:hover {
    background:rgba(0, 0, 0, 0.5);
    color: tomato;
    border: 1px solid #fff;
     
  }
  .meals
{
     
    width: 100%;
    margin-top: 20px;
}
.home {
  margin-top: 0px;
  height: 520px;
  background-image: url("/assets/slider-01.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.home h1 {
  color: #fff;
  font-size: 50px;
}
.home h1 span {
  color: tomato;
  font-size: 60px;
}
form {
  display: flex;
  flex-direction: row;
}
form.search input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid tomato;
  float: left;
  width: 80%;
  background: #f1f1f1;
  border-right: none;
}

form.search button {
  float: left;
  width: 20%;
  padding: 10px;
  background: tomato;
  color: white;
  font-size: 17px;
  border: none;
  border-left: none;
  cursor: pointer;
}

@media (max-width: 450px)
{
    
  form
  {
       width: 90%;
       margin: auto;
      
     
  }

}
@media (max-width: 320px)
{
    
  form
  {
       width: 95%;
       margin: auto;
      }
       form.search button {
        float: left;
        width: 20%;
        padding: 7px;
        background: tomato;
        color: white;
        font-size: 14px;
        border: none;
        border-left: none;
        cursor: pointer;
      
      
     
  }

}
form.search button:hover {
  background: rgba(0, 0, 0, 0.5);
  color: tomato;
  border: 1px solid #fff;
}
.meals {
  width: 100%;
  
}
.meal {
  width: 100%;
  margin: 0px;
}
